/bin/
/cfg/
/lib/
/include/
/db/
/dbd/
/documentation/html
/documentation/*.tag
/configure/*.local
/configure/RELEASE.*
/configure/CONFIG_SITE.*
/!configure/ExampleRELEASE.local
envPaths
**/O.*
QtC-*
